@import "@/scss/palette";
@import "@/scss/variables";
@import "@/scss/utility";
@import "@/scss/components";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,800;1,200;1,400;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

html{
    font-size: 16px;
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
    html{
        font-size: 12px;
    }
}
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    html{
        font-size: 10px;
    }
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    html{
        font-size: 11px;
    }
}
@media (max-width: 575.98px) { 
    html{
        font-size: 10px;
    }
}








